@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-google-sans-flex: "Google Sans Flex", sans-serif;
  --stale-button: #13ecec;
}

@utility masked-img {
  mask-image: url("./assets/mask.png");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 50%;
}
@utility abs-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}
@utility text-gradient {
  background: linear-gradient(to bottom, #ffffff, #3987f6);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@keyframes glass-shine {
  0% { transform: translateX(-100%); }
  50% { transform: translateX(100%); }
  100% { transform: translateX(100%); }
}

.glass-line {
  position: relative;
  overflow: hidden;
  /* This mimics your button's glass style */
  background: rgba(10, 21, 21, 0.2); 
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.glass-line::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* The "Reflective" streak */
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0.2) 80%,
    transparent
  );
  animation: glass-shine 3s infinite ease-in-out;
}